@using Microsoft.AspNetCore.Mvc.Localization
@using GaCloudServer.STS.Identity.Configuration.Interfaces
@using GaCloudServer.STS.Identity.Helpers.Localization
@inject IViewLocalizer Localizer
@model GaCloudServer.STS.Identity.ViewModels.Account.LoginViewModel
@inject IRootConfiguration RootConfiguration

<div class="login-page">
@*    <div class="page-header">
        <h1>@Localizer["Title"]</h1>
    </div>*@

    @await Html.PartialAsync("_ValidationSummary")

    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-dark">Bentornato</h3>
                                    <p class="mb-0">Inserisci il tuo nome utente e la tua password per accedere</p>
                                </div>
                                <div class="card-body">
                                    <form asp-route="Login">
                                        <fieldset>
                                            <input type="hidden" asp-for="ReturnUrl" />
                                            <label>@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]</label>
                                            <div class="mb-3">
                                                <input class="form-control" placeholder="@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]" asp-for="Username" aria-label="Username" aria-describedby="input-username" autofocus>
                                            </div>
                                            <label>@Localizer["Password"]</label>
                                            <div class="mb-3">
                                                <input type="password" class="form-control" placeholder="@Localizer["Password"]" asp-for="Password" aria-label="Password" aria-describedby="input-password" autocomplete="off">
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" id="rememberMe" type="checkbox" asp-for="RememberLogin">
                                                <label class="form-check-label" for="rememberMe">@Localizer["Remember"]</label>
                                            </div>
                                            <div class="text-center">
                                                <button class="btn btn-dark w-100 mt-4 mb-0" name="button" value="login">@Localizer["Login"]</button>
                                            </div>
                                        </fieldset>
                                       
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="position:inherit !important;">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/images/custom/9917.jpg')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

@*    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card mt-3">
                    <h5 class="card-header">@Localizer["LocalLogin"]</h5>
                    <div class="card-body">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="input-username">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input class="form-control" placeholder="@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]" asp-for="Username" aria-label="Username" aria-describedby="input-username" autofocus>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="input-password">
                                                    <span class="oi oi-lock-locked" title="Lock" aria-hidden="true"></span>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="@Localizer["Password"]" aria-label="Password" aria-describedby="input-password" asp-for="Password" autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember row">
                                        <div class="col-sm-9">
                                            <div>
                                                @Localizer["Remember"]
                                            </div>
                                            <toggle-button>
                                                <input asp-for="RememberLogin" type="checkbox">
                                            </toggle-button>
                                        </div>
                                    </div>
                                }

                                <!--Button-->
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary" name="button" value="login">@Localizer["Login"]</button>
                                        <button class="btn btn-secondary" name="button" value="cancel">@Localizer["Cancel"]</button>
                                        <a asp-action="ForgotPassword" asp-controller="Account" class="btn btn-info" value="forgot">@Localizer["Forgot"]</a>                                        
                                        @if (RootConfiguration.RegisterConfiguration.Enabled)
                                        {
                                            <a asp-action="Register" asp-controller="Account" class="btn btn-dark" value="forgot">@Localizer["Register"]</a>
                                        }
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6 external-providers">
                <div class="card mt-3">
                    <h5 class="card-header">@Localizer["ExternalLogin"]</h5>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-primary"
                                       asp-action="ExternalLogin"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>@Localizer["InvalidRequest"]</strong>
                @Localizer["NoSchema"]
            </div>
        }
    </div>*@
</div>







