@using Duende.IdentityServer.Extensions
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using GaCloudServer.Admin.EntityFramework.Shared.Entities.Identity
@using GaCloudServer.STS.Identity.Configuration.Interfaces
@inject IRootConfiguration RootConfiguration
@inject IViewLocalizer Localizer
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

@inject SignInManager<UserIdentity> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RootConfiguration.AdminConfiguration.PageTitle</title>
    <link rel="icon" type="image/x-icon" href="@UrlHelper.Content(RootConfiguration.AdminConfiguration.FaviconUri)" />
    <link rel="shortcut icon" type="image/x-icon" href="@UrlHelper.Content(@RootConfiguration.AdminConfiguration.FaviconUri)" />

    <environment include="Development">
        <link href="~/dist/css/bundle.min.css" asp-append-version="true" rel="stylesheet" />
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Nucleo Icons -->
        <link href="~/css/nucleo-icons.css" rel="stylesheet" />
        <link href="~/css/nucleo-svg.css" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link href="~/css/nucleo-svg.css" rel="stylesheet" />
        <!-- CSS Files -->
        <link id="pagestyle" href="~/css/soft-ui-dashboard.css?v=1.0.8" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/bundle.min.css" asp-append-version="true" rel="stylesheet" />
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Nucleo Icons -->
        <link href="~/css/nucleo-icons.css" rel="stylesheet" />
        <link href="~/css/nucleo-svg.css" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link href="~/css/nucleo-svg.css" rel="stylesheet" />
        <!-- CSS Files -->
        <link id="pagestyle" href="~/css/soft-ui-dashboard.min.css?v=1.0.8" rel="stylesheet" />
    </environment>

    @if (!string.IsNullOrEmpty(RootConfiguration.AdminConfiguration.CustomThemeCss))
    {
        <link href="@UrlHelper.Content(RootConfiguration.AdminConfiguration.CustomThemeCss)" asp-append-version="true" rel="stylesheet" />
    }

    @await RenderSectionAsync("styles", required: false)
</head>
<body class="bg-gray-100">

    @if(!User.Identity.IsAuthenticated)
    {
        <div class="container position-sticky z-index-sticky top-0">
            <div class="row">
                <div class="col-12">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                        <div class="container-fluid pe-0">
                            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="@UrlHelper.Content(RootConfiguration.AdminConfiguration.LogoOndeUri)"style="height:34px;"> @RootConfiguration.AdminConfiguration.PageTitle
                            </a>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <li class="nav-item d-flex align-items-center">
                                    <a class="btn btn-round btn-sm mb-0 btn-outline-dark me-2" href="~/.well-known/openid-configuration">@Localizer["Discovery"]</a>
                                </li>
                            </div>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>
        </div>
    }

    @if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(name))
    {
        <div class="container position-sticky z-index-sticky top-0">
            <div class="row">
                <div class="col-12">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                        <div class="container-fluid pe-0">
                            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="@UrlHelper.Content(RootConfiguration.AdminConfiguration.LogoOndeUri)" style="height:34px;"> @RootConfiguration.AdminConfiguration.PageTitle
                            </a>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
                                    @*<li class="nav-item">
                                        <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/ServerSideSessions">
                                            <i class="fa fa-server opacity-6 text-dark me-1"></i>
                                            @Localizer["Sessions"]
                                        </a>
                                    </li>*@
                                    <vc:session-server-admin-link></vc:session-server-admin-link>
                                    <vc:identity-server-admin-link></vc:identity-server-admin-link>
                                </ul>
                                <li class="nav-item d-flex align-items-center">
                                    <a class="btn btn-round btn-sm mb-0 btn-outline-dark me-2" href="~/.well-known/openid-configuration">@Localizer["Discovery"]</a>
                                    <a class="btn btn-round btn-sm mb-0 btn-dark me-2" asp-action="Logout" asp-controller="Account">@Localizer["Signout"]</a>
                                </li>
                            </div>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>
        </div>
    }

    <div class="container">
        @RenderBody()

@*        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    @RootConfiguration.AdminConfiguration.PageTitle
                    <small class="d-block mb-3 text-muted">@Localizer["FooterCopyright"] @DateTime.Now.Year - @await Html.PartialAsync("Common/ApplicationVersion")</small>
                </div>
                <div class="col-md-3 text-right">
                    @await Html.PartialAsync("Common/SelectTheme")
                </div>
                <div class="col-md-3 text-right">
                    @await Html.PartialAsync("Common/SelectLanguage")
                </div>
            </div>
        </footer>*@
    </div>

    <environment include="Development">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }
        </script>
        <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }
        </script>
        <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
    </environment>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>








